/* color palattes used in this project */
:root{
    --white-color: #EEEEEE;
    --light-gray: hsl(240deg 8% 93%);
    --footer-color:rgb(97 72 191);
    --about-bg-color:#FFD3A9;
}

body{
    background: var(--white-color);
}

.img-c {
    width: 100%;
    height: 18.875rem;
    object-fit: cover;
}

.text-space{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

/* filter area code */
.filter-area{
    background-color: var(--mint-white);
    width: 80%;
}

.left-filter{
    flex: 0 0 5rem;
}

.right-filter{
    display: flex;
    justify-content: space-evenly;
    flex: 1 0 0rem;
}

.filter-select{
    padding: 0.3rem 0.8rem;  
    border: 1px solid var(--dark-black);
}

.filter-select option{
    padding: 0.2rem 1rem;
}

/* Rule page css */

ul .li-item{
    list-style-type: circle;
}  

/* ans-option */
.ans-option li{
    list-style-type: none;
    padding:0.9rem 3rem;  
    margin: 0.5rem 0rem;
    border: 1px solid var(--light-black);
    border-radius: 12px;
    box-sizing:content-box;
}      

.default-ans{
    background-color: var(--light-black);
    color: var(--mint-white);
}

.correct-one{
    background-color: var(--success-color);
    color: var(--mint-white);

}

.wrong-one{
    background-color: var(--alert-color);
    color: var(--white-color);
}

.bg-banner{
    height: 90vh;
    width: 100%;
}  

.box-seperate{
    justify-content: space-between;
}

.about-us{
    min-height: 30rem;
    background-color: var(--about-bg-color);
}

.footer{
    background-color: var(--dark-black);
    color: var(--mint-white);
}

.footer-links{
    color: var(--mint-white);
}

